*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    background-color:#000!important;
    font-size: 12px;
}
/*header*/
header{
    width: 1420px;
    margin: 0 auto;
    height: 79px;
    display: flex;
    background-color: #89674C;
    border-bottom: 1px solid #36383a;
    .top{
        position: relative;
        width: 1220px;
        margin: 0 auto;
        height: 100%;
    }
    .logo{
        width: 92px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        a img{
            display: block;
            width: 100%;
            height: 42px;
            margin: 0 auto;
            position: relative;
            top: 21px;
            left: 0;
        }
    }
}

/* nav */
header nav{
    padding-left: 270px;
    .nav-item{
        float: left;
        font-size: 14px;
        line-height: 76px;
        display: block;
        height: 100%;
        margin: 0 30px;
        color: #e1d1b9;
        text-decoration: none;
        &:hover{
            border-bottom: 3px solid #fff;
            color: #fff;
        }
    }
}
header .quick{
    padding-top: 6px;
    height: 30px;
    z-index: 99;
    position: absolute;
    top: 50%;
    margin-top: -16px;
    right: 0;
}
header .quick span{
    height: 12px;
    width: 1px;
    background-color: #b1977d;
    display: inline-block;
    vertical-align: middle;
}
header .quick a{
    background: url(../images/icon.png) no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 10px;
}
header .quick .search{
    margin-right: 0;
    background-position: -100px -6px;
}
header .quick .user{
    background-position: -7px -6px;
}
header .quick .feedback{
    background-position: -53px -6px;
}

/* section*/
section{
    position: relative;
}
/* banner */
section #myCarousel{
    width: 1420px;
    height: 730px;
    position: relative;
    margin: 0 auto;
}
section #myCarousel item{
    position: absolute;
}
section .carousel-inner .section-detailed{
    width: 100%;
    position: absolute;
    z-index: 2;
    text-align: center;
    top: 10px;
}
section .carousel-inner #section-detailed3{
    top: 140px;
    margin-left: 170px;
    text-align: left;
}
section .carousel-inner h3{
    font-size: 48px;
    letter-spacing: 3px;
    color: #fff;
    font-weight: 500;
    font-family: Microsoft Yahei;
}
section .carousel-inner .section-detailed p{
    font-size: 24px;
    letter-spacing: 2px;
    color: #ccac82;
    font-family: Microsoft Yahei;
    margin-top: 5px;
}
section .section2{   
    height: 465px;
    padding:60px 0 133px
}
section .section2 .section-inner{
    border-top: 1px solid #1b1614;
    padding-top: 30px;
    width: 1280px;
    margin: 0 auto;
}
section .section2 .section-inner .small-images-detailed{
    height: 240px;
    width: 100%;
}
section .section2 .section-inner .small-images-detailed li{
    height: 240px;
    width: 418px;
    overflow: hidden;
    display: block;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    position: relative;
}
section .section2 .section-inner .small-images-detailed li a{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}
section .section2 .section-inner .small-images-detailed li .section-detailed{
    top: 10px;
    z-index: 2;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}
section .section2 .section-inner .small-images-detailed li h3{
    font-size: 20px;
    color: #ccac82;
}
section .section2 .section-inner .small-images-detailed li p{
    font-size: 14px;
    color: #916f53;
    margin-top: 3px;
}
section .section2 .section-inner .small-images-detailed li p span{
    padding-right: 20px;
    height: 18px;
    display: inline-block;
    background: url(../images/icon1.png) no-repeat right 4px;
}

/*footer*/
footer{
    width: 1420px;
    margin: 0 auto;
    border-top: 1px solid #2d2522;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 600;
    color: #5f4838;
    font-size: 12px;
}
footer .foot{
    width: 1220px;
    margin: 0 auto;
    height: 100%;
    position: relative;

}
footer .foot .foot_left{
    float: left;
}
footer .link{
    margin-bottom: 20px;
}
footer .link a{
    color: #5f4838;
    text-decoration: none;
    vertical-align: middle;
}
footer .link a:hover{
    color: #ccac82;
}
footer .link a .big{
    font-size: 20px;
    text-align: right;
    margin-left: 10px;
}
footer .cut{
    height: 12px;
    display: inline-block;
    width: 1px;
    background-color: #3a2f2b;
    vertical-align: middle;
    margin: 0 19px;
}
footer .foot_left i{
    font-style: normal;
}
footer .foot_left .filing{
    font-size: 12px;
    text-align: right;
    margin-left: 10px;
}
footer .foot_right{
    float: right;
}
footer .foot_right .contact{
    margin-bottom: 17px;
}
footer .foot_right .phone{
    font-size: 24px;
    background: url(../images/tel.png) no-repeat left center;
    color: #89674c;
    font-family: Arial;
    padding-left: 30px;
}
footer .gotop{
    position: absolute;
    top: -50px;
    right: 0;
    background: url(../images/gotop.png) no-repeat right 4px;
    font-size: 12px;
    color: #5f4838;
    padding-right: 33px;
    text-decoration: none;
}
footer .gotop:hover {
    color: #ccac82;
    text-decoration: none;
    background-position-y: -13px;
}