/*header*/
header{
    width: 1420px;
    margin: 0 auto;
    height: 79px;
    display: flex;
    background-color: #89674C;
    nav{
        padding-left: 270px;
        .nav-item{
            float: left;
            font-size: 14px;
            line-height: 76px;
            display: block;
            height: 100%;
            margin: 0 30px;
            color: #e1d1b9;
            text-decoration: none;
            :hover{
                border-bottom: 3px solid #fff;
                color: #fff;
            }
        }
    }
    .top{
        position: relative;
        width: 1220px;
        margin: 0 auto;
        height: 100%;
    }
    .logo{
        width: 92px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        a img{
            display: block;
            width: 100%;
            height: 42px;
            margin: 0 auto;
            position: relative;
            top: 21px;
            left: 0;
        }
    }
    .quick{
        padding-top: 6px;
        height: 30px;
        z-index: 99;
        position: absolute;
        top: 50%;
        margin-top: -16px;
        right: 0;
        span{
            height: 12px;
            width: 1px;
            background-color: #b1977d;
            display: inline-block;
            vertical-align: middle;
        }
        a{
            background: url(../images/icon.png) no-repeat;
            width: 20px;
            height: 20px;
            display: inline-block;
            vertical-align: middle;
            margin: 0 10px;
        }
        .search{
            margin-right: 0;
            background-position: -100px -6px;
        }
        .user{
            background-position: -7px -6px;
        }
        .feedback{
            background-position: -53px -6px;
        }
    }
} 
/* 头部结束 */

/*登录页面css --start--*/
.loginWrapper{
    margin:210px auto 200px;
}
.loginMain{
    border-top:1px solid #c9c9c9;
    border-bottom:1px solid #c9c9c9;
}
.loginTitle{
    font-size:45px;
    color:#9d6d4a;
    text-align: center;
    margin-bottom:60px;
}
.loginBox,.passwordBox{
    width:400px;
    margin:0 auto;
}
.users{
    width:398px;
    margin:0 auto;
    margin-top:25px;
    border:1px solid #9d6d4a;
    input{
        width:378px;
        padding:10px;
        font-size:16px;
        color:#9d6d4a;
        border:none;
    }
}

.loginBox div input::placeholder,
.passwordBox div input::placeholder{
    color: #9d6d4a;
}
.loginBox .loginBtn,.loginBox .nextBtn,.loginBox .resetBtn{
    width:180px;
    font-size:16px;
    padding:12px;
    border:none;
    text-align:center;
    background-color: #9d6d4a;
    margin:40px auto;
    color:#e4dad5;
    cursor:pointer;
}
.loginFooter div{
    width:350px;
    margin:50px auto 0;
    p{
        color:#8f9099;
        font-size:14px;
        margin-left:40px;
    }
    a{
        color:#9d6d4a;
        font-size:14px;
    }
}
/*登录页面css --end--*/


/*注册页面css --start--*/
.loginBox .commonBox,
.passwordBox .commonBox{
    font-size:16px;
    color:#f00;
    line-height:30px;
}
.loginBox .usersHalf{
    width:190px;
    margin-top:25px;
    border:1px solid #9d6d4a;
    input{
        width:170px;
        padding:10px;
        font-size:16px;
        color:#9d6d4a;
        border:none;
    }
}
.loginBox {
    .verifyCode{
        margin-top:25px;
        .verifyArea{
            width:240px;
            color: #9d6d4a;
            border: none;
            input{
                padding: 10px;
                font-size: 16px;
                border:1px solid #9d6d4a;
                width:90%;
            }
        }
        .verifySend{
            width:140px;
            height:40px;
            margin-left:15px;
            line-height:40px;
            color:#e4dad5;
            font-size: 16px;
            background-color: #9d6d4a;
            cursor:pointer;
            text-align: center;
        }
    }
    
}
.passwordBox {
    span{
        line-height: 30px;
        font-size:14px;
        color:#676767;
        :first-child i{
            font-style:normal;
            font-size:14px;
            color:#9d6d4a;
            line-height: 30px;
        }
    }
    .submitBtn{
        width:376px;
        font-size:16px;
        padding:12px;
        border:none;
        text-align:center;
        background-color: #9d6d4a;
        margin:20px auto 40px;
        color:#e4dad5;
        cursor:pointer;
    }
}

/* 图形验证码 */
#picyzm{
    width: 100px;
    height: 40px;
    display: inline-block;
    margin: 0 30px;
}
#verifyCodeDemo{
    width: 100%;
    display: flex;
    margin-top: 200px;
    justify-content: center;
}
/*注册页面css --end--*/

/* 尾部 */
.footer{
	width: 1230px;
	margin: -1px auto 0;
	padding: 38px 0;
	border-top: 1px solid #9d6d4a;
}
.toEnsure{
    height: 29px;
    img{
        float: left;
        margin-right: 167px;
        
    }
    img:last-child{
        margin-right: 0;
    }
    span{
        float: left;
        font-size: 18px;
        color: #9d6d4a;
        margin-left: -162px;
        margin-right: 167px;
        margin-top: 3px;
    }
}

.footerNav{
    margin-top: 30px;
    li{
        float: left;
        font-size: 14px;
        border-right: 1px solid #9d6d4a;
        padding-right: 20px;
        margin-right: 20px;
        a{
            color: #9d6d4a;
        }
    }
    li:last-child{
        border-right: none;
        padding-right: 0;
        margin-right: 0;
    }
}
footer{
    .footerWrapper{
        border-top: 1px solid #9d6d4a;
        margin-top: 45px;
        position: relative;
    }
}